@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --background-primary: 0 0% 11%;
    --primary-foreground: 0 0% 98%;
    --background-tertiary: 220 13% 12%;
    --text-primary: 0, 0%, 100%;
    --text-secondary: 213, 11%, 45%; /* This is your separate secondary text color */
    --background-secondary: 220 16% 9%; /* This is the secondary background color */
    --tertiary: 220 13% 12%;
    --muted: 0 0% 95.9%;
    --muted-foreground: 0 0% 46.1%;
    --accent: 0 0% 95.9%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 70% 41.6%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    background: black;
    --background-secondary: 220 16% 9%;
    --background-tertiary: 220 13% 12%;
    --background-primary: 0 0% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 11%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
